/*.bam
/*.bai
/*.bed
*~
/*.vcf
/*.txt
/*.csh
/.*
/*.pdf
/*.eval
*.ipr
*.iws
*.iml
*.pyc
.DS_Store
queueScatterGather
/foo*
/bar*
integrationtests/
public/testdata/onTheFlyOutputTest.vcf
build/
dist/
dump/
lib/
out/
/atlassian-ide-plugin.xml
maven-metadata-local.xml
dependency-reduced-pom.xml

*.class

public/sting-utils/target/sting-utils-3.1.jar

target/GenomeAnalysisTK.jar
public/gatk-package/target/*
public/gatk-framework/target/*

public/testdata

public/sting-utils/target/maven-archiver/pom.properties

public/sting-utils/target/classes/org/broadinstitute/sting/utils/R/gsalib.tar.gz

public/sting-utils/target/classes/org/broadinstitute/sting/utils/pairhmm/libVectorLoglessPairHMM.so

public/sting-utils/public/testdata

public/sting-utils/public/scala/qscript

public/scala/qscript

public/gsalib/target/gsalib-3.1.tar.gz

public/gsalib/public/testdata

public/gsalib/public/scala/qscript

public/gatk-package/public/testdata

public/gatk-package/public/scala/qscript

public/gatk-framework/public/testdata

public/gatk-framework/public/scala/qscript

public/external-example/target/

